h1 {
  font-size: 55px;
  text-align: center;
  margin: 30px 0 0px 0;
  color: #9c91a9;
  font-family: 'Special Elite', cursive;
  font-weight: 800;
  text-shadow: 3px 3px 10px grey;
}

body {
  background-image: linear-gradient(
    to bottom,
    black,
    #6365bb
  );
}